.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
}

.footer__content {
  margin: 60px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
}

@media screen and (max-width: 627px) {
  .footer {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
