.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  display: inline-block;
}

.modal__container_confirm {
  width:630px;
  height: 172px;
  border-radius: 8px;
  padding: 32px 20px;
  gap:32px;
}

.modal__content_type_preview {
  padding: 16px;
}

.modal__image-container {
  padding: 0;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  position: relative;
  display: block;
  height: auto;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-btn.svg);
  background-size: 35px 35px;
  opacity: 40%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal__close-btn:hover {
  opacity: 1;
  background-image: url(../images/darkclosebtn.svg);
  cursor: pointer;
}

.modal__close-btn_preview {
  top: 0;
  right: -45px;
  background-image: url(../images/closeBtn.svg);
  opacity: 1;
}

.modal__close-btn_preview:hover {
  top: 0;
  right: -45px;
  background-image: url(../images/ModalCloseBtn.svg);
  opacity: 1;
}

.modal__close-btn_confirm {
  background-image: url(../images/close-confirm.svg);
  top: 0px;
  right: -45px;
  height: 40px;
  width: 40px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__title_confirm{
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: #212121b2;
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: #212121;
  border: 1px solid #21212166;
  border-radius: 8px;
}

.modal__input:hover {
  color: #2121214d;
  border: 1px solid #212121;
}

.modal__input_state_error {
  border: 1px solid #ff000099;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  opacity: 50%;
}

.modal__submit-btn_delete{
  width: 156px;
  height: 52px;
  color: #212121;
  background-color: #FF6565;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  margin: 32px 20px 32px 149px;
}

.modal__submit-btn_delete:hover{
  background-color: #FF3333;
}

.modal__submit-btn_cancel{
  width: 156px;
  height: 52px;
  color: #212121;
  background-color: #FFFFFF;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #212121
}

.modal__submit-btn_cancel:hover{
  color: #FFFFFF;
  background-color: #212121;
}

.modal__caption {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  background-color: #212121;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  max-width: 100%;
  left: 420px;
}


@media screen and (max-width: 627px) {
  .modal__container {
   box-sizing: content-box;
  width: 90%; 
  margin: 0 auto; 

  }

  .modal__container_confirm {
    width:300px;
    height: 208px;
    padding: 20px 60px 12px;
    gap: 12px;
    width: 300;
    margin: 0 auto;
  }
  
  .modal__title {
    font-size: 20px;
    font-family: Poppins;
    margin-bottom: 12px;
    justify-content: space-between;
    line-height: 120%;
  }

  .modal__title_confirm{
    font-size: 20px;
    margin: 0;
  }
  
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn_delete{
    width: 156px;
    height:52px;
    padding: 18px 32px;
    margin: 20px 0px 12px;
  }

  .modal__submit-btn_cancel{
    font-size: 16px;
    font-weight: 500;
    padding: 18px 32px;
    margin-bottom: 12px;
    }
  
  .modal__input {
    font-size: 16px;
    gap:10px;
  }

  .modal__label {
    margin-bottom: 8px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 52px;
    width: 276px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__close-btn_preview {
    top: -40px;
    right: -5px;
  }

  .modal__image {
    border-radius: 4px;
    max-width: 90vw;
  }

  .modal__content_type_preview {
    padding: 0;
  }
}
